In [1]:
import pandas as pd

In [2]:
import csv

In [3]:
import urllib3

In [4]:
medals_url = "http://winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [5]:
# Leer CSV desde url con urllib3

In [8]:
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
# Asignamos la respuesta a una variable
response = r.data

In [9]:
# el objeto response contiene un string binario, asi que lo convertimos a un string decodificando a utf-8
str_data = response.decode('utf-8')

In [10]:
# Dividimos el string en un array de filas, separado por enters
lines = str_data.split("\n")